
service dhcpcd_eth0 /system/bin/dhcpcd-6.8.2 -ABDKL -f /system/etc/dhcpcd/dhcpcd.conf eth0
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd-6.8.2 -n eth0
    class late_start
    disabled
    oneshot
